# Poprawiony mały projekt 1

In [1]:
import os

from src.analiza import *
from src.wczytaj_wyczysc import *
from src.wizualizacja import *

In [2]:
gios_archive_url = "https://powietrze.gios.gov.pl/pjp/archives/downloadFile/"
gios_url_ids = {
    2015: '236',
    2018: '603',
    2021: '486',
    2024: '582'
}
gios_pm25_file = {
    2015: '2015_PM25_1g.xlsx',
    2018: '2018_PM25_1g.xlsx',
    2021: '2021_PM25_1g.xlsx',
    2024: '2024_PM25_1g.xlsx'
}
years = [2015, 2018, 2021, 2024]
metadata_url_id = "622"

## Zadanie 1: Wczytywanie i czyszczenie danych

In [3]:
metadata = download_metadata(gios_archive_url=gios_archive_url,metadata_url_id=metadata_url_id)

In [4]:
raw_data = {}
for year in years:
    raw_dataset = download_gios_archive(gios_archive_url=gios_archive_url, gios_id=gios_url_ids[year], filename=gios_pm25_file[year])
    raw_data[year] = ujednolic_dane(raw_dataset,metadata)

/opt/anaconda3/lib/python3.12/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/opt/anaconda3/lib/python3.12/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/opt/anaconda3/lib/python3.12/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [5]:
#TODO: sprawdzić czy w parsowaniu wszystko działa dobrze
data = df_gotowy(list(raw_data.values()),metadata) #sprowadzam slownik raw_data {rok:df} do listy [df]
data.to_csv('gotowe_pomiary.csv', index=True)

In [11]:
data.head()

Kod stacji,DsJelGorOgin,DsWrocAlWisn,DsWrocWybCon,KpBydPlPozna,KpBydWarszaw,LbLubObywate,LdLodzCzerni,LdZgieMielcz,LuZielKrotka,MpKrakAlKras,...,MzWarAlNiepo,MzWarWokalna,MzZyraRoosev,OpKKozBSmial,PdBialUpalna,PkPrzemGrunw,SlKatoKossut,SlZlotPotLes,WmOlsPuszkin,WpKaliSawick
Miejscowość,Jelenia Góra,Wrocław,Wrocław,Bydgoszcz,Bydgoszcz,Lublin,Łódź,Zgierz,Zielona Góra,Kraków,...,Warszawa,Warszawa,Żyrardów,Kędzierzyn-Koźle,Białystok,Przemyśl,Katowice,Złoty Potok,Olsztyn,Kalisz
2015-01-01 01:00:00.000,151.112,78,50,29.2,95.5,71.1012,59.73,58.690689,NaN,73,...,71.8204,68.982316,86.182337,43,67,18.9027,51.389,49.9464,44.060833,25.5
2015-01-01 02:00:00.000,262.566,42,33.8244,27.1,86.1,95.2582,185.92,44.501255,51.8628,55,...,42.6996,48.707108,61.823362,54.5611,103,15.9257,37.709,45.6291,49.943329,32.5
2015-01-01 03:00:00.005,222.83,27,28.7215,7.9,23.8,49.5078,54.25,24.163937,15.866,61,...,38.2824,37.986883,58.974359,54.3,49,16.1709,41.984,49.2093,20.688448,24.3
2015-01-01 04:00:00.010,210.767,24,20.6891,7.1,15.9,60.8468,50.15,19.516039,20.1187,62,...,35.4194,33.675489,53.276353,48.45,37,16.0252,45.404,53.316,17.437717,24.4
2015-01-01 05:00:00.015,191.211,22,22.5335,9.2,15,49.3106,39.17,16.850332,27.3413,57,...,31.7384,29.24757,44.586895,48.7667,27,15.5498,36.854,51.5259,15.532262,25

## Zadanie 2
Oblicz średnie miesięczne stężenie PM2.5 dla każdej stacji i roku. Dla **Warszawy** i **Katowic**, po uśrednieniu po wszystkich stacjach z tych miast, narysuj wykres liniowy pokazujący trend średnich miesięcznych wartości PM2.5 w 2014 i 2024 roku. Oś X - miesiące (1-12); oś Y - średnia wartość PM2.5; 4 linie trendu. Dołącz opis i interpretację obserwowanych różnic.

In [12]:
cities =['Katowice','Warszawa']
comp_years = [2015,2024]

In [13]:
avg_montly = srednie_miesieczne(data)
avg_city_monthly = srednie_dla_miast(data, cities)

wykres_porownanie_miast(avg_city_monthly,comp_years)

TypeError: agg function failed [how->mean,dtype->object]